#canvas {
	border: 1px solid black;
}
.container {
	display: flex;
}
.sidebar {
	width: 100px;
	border: 1px solid black;
	padding: 10px;
}
.sidebar button {
	display: block;
	margin-bottom: 10px;
}

.sidebar button.active {
	appearance: none;
	background-color: #ccc;
}
